<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ApiStory - User</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{{asset('masterpage.css')}}"/>
            <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <header>
            <div id="montitre">   
                <div class="jumbotron" style="width:100vw">
                    <h1>Apistory</h1>
                </div>
                {%if app.user%}
                <a id="btnlogout" class="btn-lg" href="/logout">Logout</a>
                {%elseif app.user.username=='' %}
                    <a id="btnsortie" href="/"  class="btn-lg close" aria-label="Close">
                        <span aria-hidden="true" style="color:black">&times;</span>
                    </a> 
                {%endif%}
                

                
            </div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="manav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a href="/master/mapage">Mes informations</a></li>
                    <li class="nav-item"><a href="/master/perso">Personnages</a></li>
                    <li class="nav-item"><a href="/master/chapitres">Chapitres</a></li>
                    <li class="nav-item"><a href="/master/docu">Documentation</a></li>
                </ul>
            </nav>
            
        </header>
        <main>
            
            {% block contenuMain %}{% endblock %}
        </main>
        <footer class="card-footer">
            <p>Copyright Apistory</p>
            {%if livre!=null%}
            <a href="/accueil/nouvhistoire/{{livre.id}}">Retour au livre</a>
            {%endif%}
            <a href="/accueil">retour à ma page</a>
        </footer>
    
    </body>
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% endblock %}
</html>


