{% extends 'base.html.twig' %}
{% block stylesheets %}
    
    <link rel="stylesheet" href="landingpage.css"/>
{% endblock %}

{% block body %}
    <div>
        <a href="/login" class="btn btn-lg btn-primary btn-block text-uppercase">Login</a>
        <a href="/register" class="btn btn-lg btn-primary btn-block text-uppercase">Inscription</a>
    </div>
{% endblock %}
