{% extends 'base.html.twig' %}

{% block title %}ApiStory{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    #galerielivre{
        width:70vw;
        height:30vh;
        background-color: white;
    }
</style>

<div class="example-wrapper">
    <h1>ApiStory</h1>
    <h2>Coucou {{app.user.username}}</h2>
    <section >
        <h3>Mes histoires</h3>
        <div id="galerielivre"></div>
        <h3>Ajouter une histoire</h3>
        <div id="liena"><a href="" id="ajouthistoire">+</a></div>
    </section>
</div>
{% endblock %}
