{% extends 'master_page.html.twig' %}

{% block title %}ApiStory{% endblock %}

{% block contenuMain %}
    <section >
        <p>je suis dans la section de {{livre.titre}}</p>
        <div>
            {{livre.resume}}
        </div>
    </section>
    
{% endblock %}

