{% extends 'master_page.html.twig' %}

{% block title %}ApiStory{% endblock %}

{% block contenuMain %}
    <section >
        <p>je suis dans la section de création d'histoire</p>
    </section>
    
{% endblock %}

