{% extends 'master_page.html.twig' %}

{% block contenuMain %}
    <div id="btnperso">
        <a href="{{path('documentations')}}" class="btn btn-outline-danger btn-lg" style="color:orange">Liste des mondes et lieux</a>
        <a href="{{path('documentations')}}" class="btn btn-outline-info btn-lg" style="color:blue">Création de mondes et de lieux</a>
       
    </div>
{% endblock %}