{% extends 'master_page.html.twig' %}

{% block contenuMain %}
    <div id="btnperso">
        <a href="" class="btn btn-outline-danger btn-lg" style="color:orange">Personnages principaux</a>
        <a href="" class="btn btn-outline-info btn-lg" style="color:blue">Personnages secondaires</a>
        <a href="" class="btn btn-primary btn-lg" style="color:white">Créer un nouveau personnage</a>
    </div>
{% endblock %}{# empty Twig template #}
